/*-Productos-*/
.btnTienda{
    display: block;
    width: 200px;
    height: auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;        
    background-color:$color6 ;
    color: $color1;
    box-shadow:$sombra3;        
    align-items: center;
    > a{
        color:$color1;
        text-decoration: none;
        padding: 10px;
    }
    &:hover{
        background-color:$color7;
    }
    &:active{
        background-color:$color3;
        color:$color2;
        border-color: $color2;
        box-shadow: $sombra4;
    }
}
/*-Contacto-*/
.btnSend ,.btnReset{
    padding: 10px;
    background-color: green;
    color: $color1;
    border-radius: 5px;
    border:1px solid;
    box-shadow: $sombra3;
}
.btnReset{
    background-color: red;
    &:hover{
        background-color: rgb(173, 4, 4);
    }
    &:active{
        background-color: #717070;
        box-shadow: $sombra4;
    }
}
.btnSend{
    &:hover{
        background-color:rgb(7, 112, 7);
    }
    &:active{
        background-color: #717070;
        box-shadow: $sombra4;
    }
}

/*-Comprar-*/
.btnComprar{
    font-size: 16px;
    font-weight: bold;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    background-color:$color6 ;
    color: $color1;
    text-decoration: none;
    box-shadow:$sombra3;
    /*cuando paso sobre el boton*/
    &:hover{
        background-color:$color7;
        border-color: transparent;
    }
    /*cuando hago click*/
    &:active{
        background-color:$color3;
        color:$color2;
        border-color: $color2;
        box-shadow: $sombra4;
    }
}