.contInicio {
    h1{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    h2{
        margin: 0 0 8px;
        padding: 0 12px;
        font-size: 30px;
    }
    p{    
        text-align: center;
        font-weight: normal;
        font-size: 23px;
        }
    .p2{
        font-size: 20px;
    }
}
.widthSlider{
    width: 100vw;
}

