/* --------------- Detalles página -Productos ---------------*/
.productoTarjeta{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    align-items:center;
    align-content: center;
    justify-content: center;
    h3{
        text-align: left;
        font-weight: bold;
    }
}
.productoImagen{
    display: inline-block;
    width: 576px;
    height: 356px;
}
.listaEspecial{
    display:block;
    margin: 20px;
    padding: 25px;
    border: 5px;
    font-size:22px;
    ul{
        margin: 10px;
        li{
            list-style-type: none;
            margin: 5px 20px;
        }
    }
}


.irTienda{
    display: flex;
    justify-content: center;

}


/*inicio animacion btnTienda en la carga*/
.shake-bottom{-webkit-animation:shake-bottom 2s cubic-bezier(.455,.03,.515,.955) both;animation:shake-bottom 2s cubic-bezier(.455,.03,.515,.955) both}
@-webkit-keyframes shake-bottom{0%,100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:50% 100%;transform-origin:50% 100%}10%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}20%,40%,60%{-webkit-transform:rotate(-4deg);transform:rotate(-4deg)}30%,50%,70%{-webkit-transform:rotate(4deg);transform:rotate(4deg)}80%{-webkit-transform:rotate(-2deg);transform:rotate(-2deg)}90%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}}@keyframes shake-bottom{0%,100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:50% 100%;transform-origin:50% 100%}10%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}20%,40%,60%{-webkit-transform:rotate(-4deg);transform:rotate(-4deg)}30%,50%,70%{-webkit-transform:rotate(4deg);transform:rotate(4deg)}80%{-webkit-transform:rotate(-2deg);transform:rotate(-2deg)}90%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}}
/*fin animacion boton*/
.trabajoVideo{
    display: flex;
    height: 469px;
    justify-content: center; 
}
.videoInterior{
    margin: 0;
    padding: 10px 0;
    width: 95vw;
    object-fit: fill;
}