/* --------------- Detalles página -Comprar ---------------*/
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-evenly;
}
.tarjeta{
    display: block;
    border: 1px solid;
    border-color: #717070b6;
    border-radius: 10px;
    width: 330px;
    height: 420px;
    margin: 15px;
    align-content: center;
    img{
        margin: 10px;
        width: 265px;
        height: 215px;
    }
    h4{
        margin: 5px;
        padding: 3px;
        font-size: 16px;
        color:#303030 ;
    }
    p{
        font-size: 13px;
       
        color:#717070 ;
        margin: 5px;
    }
    /*-transformaciones-*/
    &:hover{
        background-color: #a55d5013;
        transform: scale(1.05);
        transition: transform 0.5s;
        box-shadow:$sombra2;
    }
}
.tarjetaImagen{
    align-content: center;
}

.tarjetaDescripcion{
    display:block ;
    margin: 10px;
}

.tarjetaPrecio{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    span{
        margin-top: 10px;
        font-weight: bold;
        box-shadow: $sombra5;
    }
}