/*----------------Configuracion del Loading----------------*/
#loader {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: #1a1a1ae8;
    z-index: 1021;/*evito que se superponga con el navar de bootstrap que tiene 1020 por defecto*/
}
@keyframes pantallaGris{
    100% {
    visibility: hidden;
    opacity: 0;
    }
}
#loader.loaded {
    animation: pantallaGris 0.3s both;    
    }
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color:$color1 $color1 transparent transparent;
    box-sizing: border-box;
    scale: 1.5;
    animation: rotaHora 1s linear infinite;
    }
.loader::after,
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent $color3 $color3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotaAnti 0.5s linear infinite;
    transform-origin: center center;
    }
.loader::before {
    width: 32px;
    height: 32px;
    border-color: grey grey transparent transparent;
    animation: rotaHora 1.5s linear infinite;
    }
@keyframes rotaHora {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotaAnti {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
/*----------------Fin Configuracion del Loading----------------*/