//Variables
$color1:white;
$color2:black;
$color3: #b63d32;
$color4: #A72E60;
$color5: #efefef;
$color6:#B3A300;
$color7:#8B299F;
$sombra1: 6px 9px 15px -2px rgba(0,0,0,0.54);
$sombra2: 0px 0px 20px 5px rgba(0,0,0,0.52);
$sombra3: 15px 17px 18px -15px rgba(0, 0, 0, 0.856);
$sombra4: 10px 10px 19px -12px rgba(0,0,0,0.75);
$sombra5: 15px 17px 18px -15px rgba(0,0,0,0.75);

//Clases globales
.colorWhite{
    color: $color1;
}
.colorBlack{
    color: $color2;
}
.colorPrimario{
    color: $color7;
}
.backPrimario{
    background-color: $color3;
}
.backSecundario{
    background-color:$color4;
}
.backFondo{
    background-color: $color5;   
}
.shadowImg{
    box-shadow: $sombra1;
}
.boldCenter{
    font-weight: bold;
    text-align: center;
}
.flexCenter{
    display: flex;
    justify-content: center;
}