@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Museo;
  src: url(../fonts/MuseoModerno/static/MuseoModerno-Regular.ttf); }

.font {
  font-family: "Museo",serif; }

.colorWhite {
  color: white; }

.colorBlack {
  color: black; }

.colorPrimario {
  color: #8B299F; }

.backPrimario {
  background-color: #b63d32; }

.backSecundario {
  background-color: #A72E60; }

.backFondo {
  background-color: #efefef; }

.shadowImg {
  box-shadow: 6px 9px 15px -2px rgba(0, 0, 0, 0.54); }

.boldCenter {
  font-weight: bold;
  text-align: center; }

.flexCenter {
  display: flex;
  justify-content: center; }

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header	 header	    header	   header" "nav	     nav	    nav	       nav" "main	     main	    main	   main" "footer	 footer	    footer     footer"; }

header {
  grid-area: header;
  padding: 8px;
  background-image: url(../img/maderas_apiladas.jpg);
  height: 200px; }

.logoHeader {
  margin: 20px 10px;
  padding: 10px;
  width: max-content;
  height: max-content; }

/*--------------- Configuracion del NAVEGADOR ---------------*/
nav {
  grid-area: nav; }

.logoNavbar {
  width: 89px;
  height: 54px;
  object-fit: cover; }

main {
  overflow-x: hidden;
  grid-area: main; }
  main h1 {
    margin: 10px;
    padding: 10px;
    font-size: 44px;
    color: #8B299F; }
  main h2 {
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    color: black; }
  main h3 {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    color: black; }
  main p {
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    color: black; }

/* --------------- Configuracion del Footer --------------- */
footer {
  grid-area: footer; }

.footerArriba, .footerAbajo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 108px; }

.footerArriba p {
  margin: 4px;
  padding: 24px;
  font-size: 20px;
  max-width: 480px; }

.footerArriba > .whatsappPresupuesto {
  text-align: center; }

.footerAbajo p {
  margin: 0px;
  padding: 40px;
  font-size: 16px;
  text-align: center;
  font-weight: lighter; }

.logoFooter {
  margin: 0px;
  padding: 0px;
  width: 89px;
  height: 54px; }

.fa-square-facebook, .fa-square-instagram, .fa-square-twitter {
  margin: 10px;
  color: white;
  font-size: 50px; }

.fa-whatsapp {
  margin: 10px;
  color: white;
  font-size: 65px; }

.formulario {
  background-color: rgba(60, 29, 23, 0.148);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.52);
  width: 600px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "titulo	        titulo	titulo" "nomApell	    check	check" "email	        mensaje	mensaje" "tel	        mensaje	mensaje" "asunto	        mensaje	mensaje" "...            btn1	    btn2"; }
  .formulario h3:nth-child(1) {
    grid-area: titulo; }
  .formulario label:nth-child(2) {
    grid-area: nomApell; }
  .formulario label:nth-child(3) {
    grid-area: email; }
  .formulario label:nth-child(4) {
    grid-area: tel; }
  .formulario label:nth-child(5) {
    grid-area: asunto; }
  .formulario label:nth-child(6) {
    grid-area: mensaje;
    justify-self: center; }
  .formulario label:nth-child(7) {
    grid-area: check; }
  .formulario button:nth-child(8) {
    grid-area: btn1; }
  .formulario input:nth-child(9) {
    grid-area: btn2; }
  .formulario > label {
    font-weight: bold; }
    .formulario > label > input {
      background-color: transparent;
      border: 0;
      outline: none;
      border-bottom: white 1.5px solid;
      color: black; }
    .formulario > label > textarea {
      background-color: #efefef;
      color: black; }

.estiloTextArea {
  width: 300px;
  height: 200px; }

/*-Productos-*/
.btnTienda {
  display: block;
  width: 200px;
  height: auto;
  margin-top: 10px;
  text-align: center;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #B3A300;
  color: white;
  box-shadow: 15px 17px 18px -15px rgba(0, 0, 0, 0.856);
  align-items: center; }
  .btnTienda > a {
    color: white;
    text-decoration: none;
    padding: 10px; }
  .btnTienda:hover {
    background-color: #8B299F; }
  .btnTienda:active {
    background-color: #A72E60;
    color: black;
    border-color: black;
    box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 0.75);
    position: relative;
    top: 1px; }

/*-Contacto-*/
.btnSend, .btnReset {
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 15px 17px 18px -15px rgba(0, 0, 0, 0.856); }
  .btnSend:hover, .btnReset:hover {
    background-color: #077007; }
  .btnSend:active, .btnReset:active {
    background-color: #717070;
    box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 0.75);
    position: relative;
    top: 1px; }

.btnReset {
  background-color: red; }
  .btnReset:hover {
    background-color: #ad0404; }
  .btnReset:active {
    background-color: #717070; }

/*-Comprar-*/
.btnComprar {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #B3A300;
  color: white;
  text-decoration: none;
  box-shadow: 15px 17px 18px -15px rgba(0, 0, 0, 0.856);
  /*cuando paso sobre el boton*/
  /*cuando hago click*/ }
  .btnComprar:hover {
    background-color: #8B299F; }
  .btnComprar:active {
    background-color: #A72E60;
    box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 0.75);
    position: relative;
    top: 1px; }

/* --------------- Detalles página -Inicio ---------------*/
.contInicio h1 {
  margin-bottom: 0;
  padding-bottom: 0; }

.contInicio h2 {
  margin: 0 0 8px;
  padding: 0 12px;
  font-size: 30px; }

.contInicio p {
  text-align: center;
  font-weight: normal;
  font-size: 23px; }

.contInicio .p2 {
  font-size: 20px; }

.widthSlider {
  width: 100vw; }

/* --------------- Detalles página -Productos ---------------*/
.productoTarjeta {
  flex-wrap: wrap;
  margin: 40px;
  align-items: center;
  align-content: center; }
  .productoTarjeta h3 {
    text-align: left;
    font-weight: bold; }

.productoImagen {
  display: inline-block;
  width: 576px;
  height: 356px; }

.listaEspecial {
  display: block;
  margin: 20px;
  padding: 25px;
  border: 5px;
  font-size: 22px; }
  .listaEspecial ul {
    margin: 10px; }
    .listaEspecial ul li {
      list-style-type: none;
      margin: 5px 20px; }

/*inicio animacion btnTienda en la carga*/
.shake-bottom {
  -webkit-animation: shake-bottom 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-bottom 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

@-webkit-keyframes shake-bottom {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@keyframes shake-bottom {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

/*fin animacion boton*/
.trabajoVideo {
  height: 469px; }

.videoInterior {
  margin: 0;
  padding: 10px 0;
  width: 95vw;
  object-fit: fill; }

/* --------------- Detalles página -Nosotros ---------------*/
.nosotrosTarjeta {
  margin: 24px;
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .nosotrosTarjeta h2 {
    margin: 0;
    padding: 0;
    font-size: 32px; }
  .nosotrosTarjeta p {
    font-size: 24px; }
  .nosotrosTarjeta img {
    width: calc(100vw / 3); }
  .nosotrosTarjeta .nosotrosImgIzq {
    width: calc(100vw / 3); }
    .nosotrosTarjeta .nosotrosImgIzq h2, .nosotrosTarjeta .nosotrosImgIzq p {
      text-align: start;
      margin-left: 0;
      padding-left: 0; }
  .nosotrosTarjeta .nosotrosImgDer {
    width: calc(100vw / 3); }
    .nosotrosTarjeta .nosotrosImgDer > h2, .nosotrosTarjeta .nosotrosImgDer p {
      text-align: end;
      margin-right: 0;
      padding-right: 0; }

/* --------------- Detalles página -Contacto ---------------*/
.contenidoContacto {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 20px 20px 20px;
  padding: 0;
  justify-content: space-evenly; }

.contactoHijo1 {
  max-width: 600px; }
  .contactoHijo1 > p {
    margin-top: 0; }
  .contactoHijo1 > h3 {
    text-align: center; }

.contactoHijo2 {
  border: 1px solid;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.52); }
  .contactoHijo2 > iframe {
    margin: 30px; }

/* --------------- Detalles página -Comprar ---------------*/
.controls {
  display: flex;
  justify-content: end;
  margin: 10px;
  gap: 10px; }
  .controls label {
    font-weight: bold; }

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-evenly; }

.tarjeta {
  display: block;
  border: 1px solid;
  border-color: #717070b6;
  border-radius: 10px;
  width: 330px;
  height: 420px;
  margin: 15px;
  align-content: center;
  /*-transformaciones-*/ }
  .tarjeta img {
    margin: 10px;
    width: 265px;
    height: 215px; }
  .tarjeta h4 {
    margin: 5px;
    padding: 3px;
    font-size: 16px;
    color: #303030; }
  .tarjeta p {
    font-size: 13px;
    color: #717070;
    margin: 5px;
    padding: 5px; }
  .tarjeta span {
    color: #A72E60;
    font-weight: bold;
    align-items: center;
    font-size: x-large; }
  .tarjeta:hover {
    background-color: #a55d5013;
    transform: scale(1.05);
    transition: transform 0.5s;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.52); }

.tarjetaImagen {
  align-content: center; }

.tarjetaDescripcion {
  display: block;
  margin: 10px; }

.tarjetaPrecio {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.thanks {
  margin: 30px 0; }
  .thanks h2 {
    color: #8B299F; }
  .thanks p {
    text-align: center; }

@media only screen and (max-width: 992px) {
  .footerArriba, .footerAbajo {
    flex-direction: column; }
    .footerArriba p, .footerAbajo p {
      padding: 0; } }

@media only screen and (max-width: 850px) {
  /* -Productos- */
  .trabajoVideo {
    height: auto; }
  .productoImagen {
    width: 75%;
    height: 75%; }
  .listaEspecial h3 {
    text-align: center; }
  /* -Nosotros- */
  .nosotrosTarjeta {
    flex-direction: column;
    margin: 24px 12px 0px 12px;
    padding: 24px 12px 0px 12px;
    margin-bottom: 0; }
    .nosotrosTarjeta img {
      margin: 10px;
      width: 75vw; }
    .nosotrosTarjeta .nosotrosImgDer, .nosotrosTarjeta .nosotrosImgIzq {
      width: 100%; }
      .nosotrosTarjeta .nosotrosImgDer h2, .nosotrosTarjeta .nosotrosImgDer p, .nosotrosTarjeta .nosotrosImgIzq h2, .nosotrosTarjeta .nosotrosImgIzq p {
        text-align: center;
        margin: 20px 20px 0 20px;
        padding: 10px 10px 0 10px; } }

@media only screen and (max-width: 768px) {
  /* -Contacto- */
  .contactoHijo2 > iframe {
    margin: 30px;
    width: 85%;
    height: 85%; }
  .formulario {
    max-width: 400px;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "titulo titulo" "nomApell nomApell" "email email" "tel	tel" "asunto asunto" "check check" "mensaje mensaje" "btn1	    btn2"; }
    .formulario > h3 {
      text-align: center; }
    .formulario > label {
      align-self: center; }
  .estiloTextArea {
    max-width: 350px; } }

@media only screen and (max-width: 576px) {
  header {
    display: flex;
    justify-content: center; }
  main h2 {
    font-size: 25px; }
  main .p1 {
    font-size: 21px; }
  .logoFooter {
    margin: 16px;
    height: auto; }
  .footerAbajo p {
    margin-bottom: 16px; }
  /* -Productos- */
  .productoTarjeta {
    margin-left: 5px;
    margin-right: 5px; }
  .videoInterior {
    height: 50%; }
  .listaEspecial {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px; }
    .listaEspecial h3 {
      font-size: 18px; }
    .listaEspecial > ul {
      padding-left: 5px; }
  /* -Contacto- */
  .contenidoContacto {
    margin-top: 10px;
    padding-top: 10px; }
    .contenidoContacto p {
      margin: 10px; }
  .contactoHijo2 > iframe {
    margin: 30px;
    width: 70%;
    align-self: center; }
  .formulario {
    width: 95%;
    padding: 15px;
    gap: 5px;
    grid-template-columns: auto;
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "titulo" "nomApell" "email" "tel" "asunto" "check" "mensaje" "btn1"	 "btn2"; }
    .formulario > h3 {
      font-size: 20px; }
  .estiloTextArea {
    max-width: 300px; } }

@media (max-width: 340px) {
  .estiloTextArea {
    max-width: 230px; } }

/*----------------Configuracion del Loading----------------*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: #1a1a1ae8;
  z-index: 1021;
  /*evito que se superponga con el navar de bootstrap que tiene 1020 por defecto*/ }

@keyframes pantallaGris {
  100% {
    visibility: hidden;
    opacity: 0; } }

#loader.loaded {
  animation: pantallaGris 0.3s both; }

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: white white transparent transparent;
  box-sizing: border-box;
  scale: 1.5;
  animation: rotaHora 1s linear infinite; }

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #b63d32 #b63d32;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotaAnti 0.5s linear infinite;
  transform-origin: center center; }

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #A72E60 #A72E60 transparent transparent;
  animation: rotaHora 1.5s linear infinite; }

@keyframes rotaHora {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotaAnti {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

/*----------------Fin Configuracion del Loading----------------*/
