/* --------------- configuracion del Footer sin Bootsrap --------------- */
.footer{
    grid-area: footer;
}
.footerArriba , .footerAbajo{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 108px;
}
.footerArriba p{
    margin: 4px ;
    padding: 24px;   
    font-size: 20px;
    text-align: center;
    font-weight: bold; 
    max-width: 480px;  
}
.footerArriba  >.whatsappPresupuesto{
    text-align: center;
}
.footerAbajo p{
    margin: 0px;
    padding: 40px;
    font-size: 16px;
    text-align: center;
    font-weight: lighter; 
}
.logoSinBSFooter{
    margin: 0px;
    padding: 0px;
    width: 89px ;
    height:54px;
}
.fa-square-facebook ,.fa-square-instagram , .fa-square-twitter{
    margin: 10px;
    color: white;
    font-size: 50px; 
}
.fa-whatsapp{
    margin: 10px;
    color: white;
    font-size: 65px; 
}